{% extends "RefiBundle::tempBase2.html.twig" %}

{% block header %}

{% endblock header %}





{% block content %}
{% if its_empty is defined %}
	<div class="container">
	  <div class="row-fluid">
		<div class="span12">
		  <br/><br/>
		  You have no prospects to be blasted or calculator values inputted yet. Go to campaign or the calculator screen first!
		</div>
	  </div>
	</div>
{% else %}
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="report__ddl">
        <div class="span6">
          <span class="report__ddl--label">View reports: </span>

        </div>
        <div class="span6">
          <select name="property_ids" onChange="loadReport()">
            {% for i in ids %}
              {% if i == current_id %}
                <option value="{{ i }}" selected="selected">{{ i }}</option>
              {% else %}
                <option value="{{ i }}">{{ i }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="alignright">
        <br/><br/>
		<form method="post" id="reportform"><input type="hidden" value="{{ random() }}" name="reportinput" /></form>
		<button class="btn-red btn-gen btn-sendreport" onClick="submitReport(); return true;" >SAVE AND SEND</button>
      </div>
    </div>
  </div>
</div>
{# NOT REQUIRED
<!-- row 1: property details + map   -->
<div class="container row1">
  <div class="row-fluid">
    <div class="span6">
      <div class="whitebox">
        <div class="head pad">
          <i class="fa fa-file-text"></i>Property <strong>Details</strong>
        </div>
        <div class="pad text">
          <p>2,239 sqft/208 sqm (built-up)</p>
          <p>921 Bukit Timah Road, 589624 Clement Park / Upper Bukit</p>
          <p>Timah, Newton / Bt. Timah (D11,21)</p>
        </div>
      </div>
    </div>

    <div class="span6">
      <div class="whitebox">

        <div id="map-canvas" style="width: 100%; height: 210px;"></div>
            <script>
        var map;
        function initialize() {
          var mapOptions = {
            zoom: 8,
            center: new google.maps.LatLng(-34.397, 150.644)
          };
          map = new google.maps.Map(document.getElementById('map-canvas'),
              mapOptions);
        }

        google.maps.event.addDomListener(window, 'load', initialize);

            </script>

      </div>
    </div>
  </div>
</div>
<!-- \row 1: property details + map   -->
<!-- row 2: Property Current Value Range -->
<div class="container row2">
  <div class="row-fluid">
    <div class="span12 whitebox">
      <div class="head pad aligncenter"><i class="icon-cvr"></i>Property <strong>Currency Value Range</strong></div>

      <div class="cvr-comp">
        <div class="span4 from">
            <strong>S$ 1,260,000</strong><br>
            S$ 998 pst
        </div>
        <div class="span4 mid">
          <strong>To</strong>
        </div>
        <div class="span4 to">
          <strong>S$ 1,400,000</strong><br>
          S$ 1,113 pst
        </div>
        <div class="clr"></div>
      </div>
      <!-- cvr-comp  -->
      <p class="note aligncenter">Comparable Transactions used in the Valuation Assessment</p>
    </div>
    <!-- whitebox -->
  </div>
</div>
<!-- \row 2: Property Current Value Range -->

<!-- row 3: Latest Transaction Condominium -->
<div class="container row3">
  <div class="row-fluid">
    <div class="span12 whitebox">
      <div class="pad">
        <table class="latest_transaction" border="1">
          <thead>
            <th colspan="12">
              <span class="alignleft">Latest Transaction <strong>Condominium</strong></span>
              <span class="alignright">1-50 of 300</span>
            </th>
            <th width="4%"><i class="fa fa-angle-left"></i></th>
            <th width="4%"><i class="fa fa-angle-right"></i></th>
          </thead>
          <tbody>
            <tr>
              <td class="wide2">Elit minim delenit</td>
              <td class="wide2">Lobortis vulputate</td>
              <td>ullamcorper</td>
              <td>ullamcorper</td>
              <td>ullamcorper</td>
              <td>ullamcorper.com</td>
              <td>ullamcorper.com</td>
              <td>123</td>
              <td>ullamcorper.com</td>
              <td>Yes</td>
              <td>123</td>
              <td colspan="3" class="wide">Today, 10:15 PM</td>
            </tr>
            <tr>
              <td class="wide2">Elit minim delenit</td>
              <td class="wide2">Lobortis vulputate</td>
              <td>ullamcorper</td>
              <td>ullamcorper</td>
              <td>ullamcorper</td>
              <td>ullamcorper.com</td>
              <td>ullamcorper.com</td>
              <td>123</td>
              <td>ullamcorper.com</td>
              <td>Yes</td>
              <td>123</td>
              <td colspan="3" class="wide">Today, 10:15 PM</td>
            </tr>
            <tr>
              <td class="wide2">Elit minim delenit</td>
              <td class="wide2">Lobortis vulputate</td>
              <td>ullamcorper</td>
              <td>ullamcorper</td>
              <td>ullamcorper</td>
              <td>ullamcorper.com</td>
              <td>ullamcorper.com</td>
              <td>123</td>
              <td>ullamcorper.com</td>
              <td>Yes</td>
              <td>123</td>
              <td colspan="3" class="wide">Today, 10:15 PM</td>
            </tr>
            <tr>
              <td class="wide2">Elit minim delenit</td>
              <td class="wide2">Lobortis vulputate</td>
              <td>ullamcorper</td>
              <td>ullamcorper</td>
              <td>ullamcorper</td>
              <td>ullamcorper.com</td>
              <td>ullamcorper.com</td>
              <td>123</td>
              <td>ullamcorper.com</td>
              <td>Yes</td>
              <td>123</td>
              <td colspan="3" class="wide">Today, 10:15 PM</td>
            </tr>
            <tr>
              <td class="wide2">Elit minim delenit</td>
              <td class="wide2">Lobortis vulputate</td>
              <td>ullamcorper</td>
              <td>ullamcorper</td>
              <td>ullamcorper</td>
              <td>ullamcorper.com</td>
              <td>ullamcorper.com</td>
              <td>123</td>
              <td>ullamcorper.com</td>
              <td>Yes</td>
              <td>123</td>
              <td colspan="3" class="wide">Today, 10:15 PM</td>
            </tr>
            <tr>
              <td class="wide2">Elit minim delenit</td>
              <td class="wide2">Lobortis vulputate</td>
              <td>ullamcorper</td>
              <td>ullamcorper</td>
              <td>ullamcorper</td>
              <td>ullamcorper.com</td>
              <td>ullamcorper.com</td>
              <td>123</td>
              <td>ullamcorper.com</td>
              <td>Yes</td>
              <td>123</td>
              <td colspan="3" class="wide">Today, 10:15 PM</td>
            </tr>
            <tr>
              <td class="wide2">Elit minim delenit</td>
              <td class="wide2">Lobortis vulputate</td>
              <td>ullamcorper</td>
              <td>ullamcorper</td>
              <td>ullamcorper</td>
              <td>ullamcorper.com</td>
              <td>ullamcorper.com</td>
              <td>123</td>
              <td>ullamcorper.com</td>
              <td>Yes</td>
              <td>123</td>
              <td colspan="3" class="wide">Today, 10:15 PM</td>
            </tr>
            <tr>
              <td class="wide2">Elit minim delenit</td>
              <td class="wide2">Lobortis vulputate</td>
              <td>ullamcorper</td>
              <td>ullamcorper</td>
              <td>ullamcorper</td>
              <td>ullamcorper.com</td>
              <td>ullamcorper.com</td>
              <td>123</td>
              <td>ullamcorper.com</td>
              <td>Yes</td>
              <td>123</td>
              <td colspan="3" class="wide">Today, 10:15 PM</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- \row-fluid -->
</div>
<!-- \row 3: Latest Transaction Condominium -->

<!-- row 4 : Property Graph  -->
<div class="container row4">
  <div class="row-fluid whitebox">
    <div class="span5 pad">
      <center>How your Property has grown<br> compare to the average in the District</center>
    </div>
    <div class="span7 pad the_graph">
      <script src="loginAndwidgets/js/vendor/modernizr-2.7.1-respond-1.4.2.min.js"></script>
      <!-- Classic Chart Block -->
      <div class="block full">
          <!-- Classic Chart Title -->
          <div class="block-title">
              <h2><strong>Classic</strong> Chart</h2>
          </div>
          <!-- END Classic Chart Title -->

          <!-- Classic Chart Content -->
          <!-- Flot Charts (initialized in js/pages/compCharts.js), for more examples you can check out http://www.flotcharts.org/ -->
          <div id="chart-classic" class="chart"><img src="/web/tempAssets/css/images/simple-chart.png" alt=""></div>
          <!-- END Classic Chart Content -->
      </div>
      <!-- END Classic Chart Block -->
    </div>
  </div>
</div>
<!-- \row 4 : Property Graph  -->
 #}
<!-- row 5 -->
<div class="container row5">
  <div class="row-fluid whitebox">
    <div class="span12">

      <div class="head pad">
        <i class="ionicons ion-help-circled"></i> How your Property&nbsp;{% if rdata.property_name is not null %}<span><span class="lower">in</span> {{ rdata.property_name }}</span>&nbsp;{% endif %}can <strong>Save You More</strong>
      </div>

      <div class="row-fluid pad colText">
        <div class="span12">

          <p class="text">Example:</p>
          <p class="example--text">
            With a debt of <strong>${{ rdata.loan_amount }}</strong>, on a {{ rdata.loan_period }} year loan - and a current interest rate of <strong>{{ rdata.current_interest_rate }}</strong>, you may be able to refinance and

          </p>
          <br/>
          <p class="text tagLine">Save <span>${{ rdata.five_years_savings }}</span> in just five years!</p>

        </div>

      </div>

    </div>
  </div>
</div>
<!-- \row 5 -->

<!-- row 6 -->
<div class="container row6">
  <div class="row-fluid whitebox">
    <div class="pad">
      <div class="span7">
        <div class="bordered">
          {# <img src="/web/tempAssets/css/images/sales_pitch.jpg" alt=""> #}

          <div class="row-fluid pad">
            <div class="span6">
              <div class="row-fluid">
                <div class="span6 prop__price prop__price--title">Property Price:</div>
                <div class="span6 prop__price">S$ {{ rdata.property_price }}</div>
              </div>
              <div class="row-fluid">
                <div class="span6"></div>
                <div class="span6"></div>
              </div>
            </div>
            <div class="span6">
              <div class="row-fluid">
                <div class="span6">Loan Amount:</div>
                <div class="span6">S$ {{ rdata.loan_amount }}</div>
              </div>
              <div class="row-fluid">
                <div class="span6">Loan Period:</div>
                <div class="span6">{{ rdata.loan_period }} years</div>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span12 redRow">
              You can Reduce your Monthly repayment by <br>S${{ rdata.monthly_payment_reduce }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span12">
              <table class="sales-pitch" border="1">
                <thead>
                  <th width='15%'></th>
                  <th width='5%'></th>
                  <th width='9%'>CURRENT</th>
                  <th width='9%'>REFI</th>
                  <th width='9%'>SAVINGS</th>
                </thead>
                <tbody>
                  <tr>
                    <td><span class="pitch-icon tla"></span>Total Loan Amount:</td>
                    <td>S$</td>
                    <td>{{ rdata.total_loan_amount_current }}</td>
                    <td>{{ rdata.total_loan_amount_refi }}</td>
                    <td>{{ rdata.total_loan_amount_savings }}</td>
                  </tr>
                  <tr>
                    <td><span class="pitch-icon mpa"></span>Monthly Payment Amount:</td>
                    <td>S$</td>
                    <td>{{ rdata.monthly_payment_amount_current }}</td>
                    <td>{{ rdata.monthly_payment_amount_refi }}</td>
                    <td>{{ rdata.monthly_payment_amount_savings }}</td>
                  </tr>
                  <tr>
                    <td><span class="pitch-icon ie"></span>Interest Expenses:</td>
                    <td>S$</td>
                    <td>{{ rdata.interest_expenses_current }}</td>
                    <td>{{ rdata.interest_expenses_refi }}</td>
                    <td>{{ rdata.interest_expenses_savings }}</td>
                  </tr>
                  <tr>
                    <td><span class="pitch-icon f3y"></span>First 3 years:</td>
                    <td>S$</td>
                    <td>{{ rdata.first_three_years_current }}</td>
                    <td>{{ rdata.first_three_years_refi }}</td>
                    <td>{{ rdata.first_three_years_savings }}</td>
                  </tr>
                  <tr>
                    <td><span class="pitch-icon f5y"></span>First 5 years:</td>
                    <td>S$</td>
                    <td>{{ rdata.first_five_years_current }}</td>
                    <td>{{ rdata.first_five_years_refi }}</td>
                    <td>{{ rdata.first_five_years_savings }}</td>
                  </tr>
                  <tr>
                    <td><span class="pitch-icon f10y"></span>First 10 years:</td>
                    <td>S$</td>
                    <td>{{ rdata.first_ten_years_current }}</td>
                    <td>{{ rdata.first_ten_years_refi }}</td>
                    <td>{{ rdata.first_ten_years_savings }}</td>
                  </tr>
                  <tr>
                    <td><span class="pitch-icon te"></span>Total Exprenses:</td>
                    <td>S$</td>
                    <td>{{ rdata.total_expenses_current }}</td>
                    <td>{{ rdata.total_expenses_refi }}</td>
                    <td>{{ rdata.total_expenses_savings }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        <!-- bordered  -->

        {#<div class="alignright rp-btn">
          <button>Click here to View How</button>
        </div>#}

        <div class="clr"></div>
      </div>



      <div class="span5 bordered">
        <div class="report--sales__header">
          <div class="inside">
            <h2>Save now!</h2>
          </div>
        </div>
        {# <img src="/web/tempAssets/css/images/interest_expenses.jpg" alt=""> #}

        {# <img src="/web/tempAssets/css/images/ie-graph.jpg" alt=""> #}
        <div id="chart_div" style="width: 99%; height: 300px;"></div>
        <div class="clr"></div>
      </div>
    </div>
    <div class="clr"></div>
  </div>
</div>
<!-- \row 6 -->

<!-- row7  -->
<div class="container row7">
  <div class="row-fluid">

    <div class="span8 whitebox">
      <div class="main pad">
        <h3 class="bigtext">{{ data.agency_name }}</h3>
        <div class="desc">{{ data.agency_subtitle }}</div>
      </div>
      <div class="agency__data">
        {{ data.agency_html | raw }}
      </div>
      <!-- Only include every INSIDE agency__data (see above) -->
    </div>

    <div class="span4 whitebox">

      <div class="signature">
        <div class="avatar">
          <i class="ionicons ion-android-social-user"></i>
        </div>
        <div class="profile">
          <div class="main pad">
            <h3 class="name">{{ data.name }}</h3>
            <div class="title">{{ data.title }}</div>
          </div>
          <!-- main -->
          <div class="others pad">
            <div><b>Email: </b>{{ data.email }}</div>
            <div><b>Phone: </b>{{ data.phone }}</div>
            <div><b>Age: </b>{{ data.age }}</div>
            <div><b>Address: </b>{{ data.address }}</div>
            <div><b>Company: </b>{{ data.company }}</div>
            <div><b>Years as a broker: </b>{{ data.years_as_a_broker }} years</div>
          </div>
          <!-- bottominfo -->
        </div>
      </div>
      <!-- signature -->
    </div>

</div>
<!-- \row7  -->

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	function loadReport() {
		var id = $('select[name=property_ids]').val();
		window.location.replace("{{ url('refi_report') }}/" + id);
	}

	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	function drawChart() {

	 //  var data = google.visualization.arrayToDataTable([
		// ['', ''],
		// ['Current Interest Payments Over 3 Years', {{ rdata.current_interest_payments_three_years }}],
		// ['Refinance Interest Costs Over 3 Years', {{ rdata.refinance_interest_costs_three_years }}],
		// ['Approx. Savings Over 3 Years', {{ rdata.approx_savings_three_years }}]
	 //  ]);

    var data = new google.visualization.DataTable();
      data.addColumn('string', 'Term');
      data.addColumn('number', 'Cost');
      data.addColumn({label: 'Saving', type: 'string', role: 'style'});
      data.addRows([
        ['Current Interest Payments Over 3 Years', {{ rdata.current_interest_payments_three_years }}, 'color: #063141'],
        ['Refinance Interest Costs Over 3 Years', {{ rdata.refinance_interest_costs_three_years }}, 'color: #063141;'],
        ['Approx. Savings Over 3 Years', {{ rdata.approx_savings_three_years }}, 'color:#e84c3d;' ]
      ]);
	  var options = {
		title: 'Refinanced Mortgage Savings Example',
  		legend: {
  			position: 'none'
  		},
  		vAxis: {
  			minValue: 0
  		},
      colors: ['#ccc', 'red', 'green']

	  };

	  var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

    var formatter = new google.visualization.NumberFormat({pattern:'S$###,###'} );
    formatter.format(data, 1);

	  chart.draw(data, options);

	}
</script>
{% endif %}
{% endblock content %}





{% block footer %}
  {{ parent() }}
{% endblock footer %}

