{% extends "RefiBundle::tempBase.html.twig" %}

{% block header %}
{% endblock header %}





{% block content %}
{# <div ng-controller="map__controller" class="map__container" >
  <div id="heatmap" class="angular-google-map-container"></div>
</div> #}


<div class="container" style="clear:both; margin-top:25px;">
  <div class="row-fluid">
    <div class="span12">
      <h2 style="font-size: 32px;
font-weight: 400;
color: #555;
margin: 15px  0;
text-transform: uppercase;">Prospect List</h2>
      <table id="Prospect-Table" border="1" ng-app="tablemod">
        <thead>
          <th colspan='12'>
            <span class="thleft"><!-- Prospects for <span style="font-weight:400;">25 Amber Road</span> --></span>
            <span class="thright">1-50 of 300</span>
          </th>
          <th width="4%"><a href="#"><i class='fa fa-angle-left'></i></a></th>
          <th width="4%"><a href="#"><i class='fa fa-angle-right'></i></a></th>
        </thead>
        <tbody>

          <tr>
            <td style="background:#063141;"><a style="color:#fff; text-transform:uppercase; font-size:14px;" href="#">Add</a></td>
            <td style="background:#063141;"><a style="color:#fff; text-transform:uppercase; font-size:14px;" href="#">ID</a></td>
            <td style="background:#063141;"><a style="color:#fff; text-transform:uppercase; font-size:14px;" href="#">Profession</a></td>
            <td style="background:#063141;"><a style="color:#fff; text-transform:uppercase; font-size:14px;" href="#">Salary Range</a></td>
            <td style="background:#063141;"><a style="color:#fff; text-transform:uppercase; font-size:14px;" href="#">Potential</a></td>
            <td style="background:#063141;"><a style="color:#fff; text-transform:uppercase; font-size:14px;" href="#">Properties</a></td>
            <td style="background:#063141;"><a style="color:#fff; text-transform:uppercase; font-size:14px;" href="#">Status</a></td>
            <td style="background:#063141;" colspan='7' width="10%"><a href="#"  style="color:#fff; text-transform:uppercase; font-size:14px;">Notes</a></td>
          </tr>

		{% for list in prospect_list %}
		  <tr>
            <td><input type="checkbox" disabled="disabled" name="prospect_engaged[{{ list.prospectId }}]" value="{{ list.engaged }}"></td>
            <td><a href="/prospect/">{{ loop.index }}</a></td>
            <td><a href="/prospect/">{{ list.profession }}</a></td>
            <td><a href="/prospect/">{{ list.income_range }}</a></td>
            <td><a href="/prospect/"><hr class="M"></a></td>
            <td><a href="/prospect/">{{ list.property_owned }}</a></td>
            <td><a href="/prospect/">{% if list.status == 1 %}Contacted{% else %}Not Contacted{% endif %}</a></td>
            <td colspan='7' width="30%"><a href="#">{{ list.note }}</a></td>
          </tr>
		{% endfor %}
		
        </tbody>
      </table>
      <a class="ionicons ion-navigate blast--prospect" href="/calculator" style="">Blast Prospects</a>


    </div>
  </div>
</div>
{% endblock content %}





{% block footer %}
  {{ parent() }}
{% endblock footer %}

