<div class="pg__width">
  {# <h2><span>Hot</span>Refis</h2> #}
</div>
<div class="global__nav">
  <div class="pg__width">
    <a href="#" class="logo"></a>

    <nav>
      <ul>
        {# <li><a href="{{ url('refi_homepage') }}" class="ionicons ion-ios7-home-outline">HOME</a></li> #}
        <li><a href="{{ url('refi_homepage') }}" class="ionicons ion-map {% if app.request.get('_route') == 'refi_homepage' %} active {% endif %} ">DASHBOARD<span>Find your prospects</span></a></li>
        <li><a href="{{ url('refi_campaign') }}" class="ionicons ion-gear-b {% if app.request.get('_route') == 'refi_campaign' %} active {% endif %} ">CAMPAIGN<span>Blast your prospects</span></a></li>
        <li><a href="{{ url('refi_list') }}" class="ionicons ion-ios7-people {% if app.request.get('_route') == 'refi_list' %} active {% endif %} ">PROSPECT LIST<span>See your leads</span></a></li>
        <li><a href="{{ url('refi_calculator') }}" class="ionicons ion-ios7-calculator {% if app.request.get('_route') == 'refi_calculator' %} active {% endif %} ">REFI CALCULATOR<span>Create your model</span></a></li>
        <li><a href="{{ url('refi_report') }}" class="ionicons ion-ios7-paper-outline {% if app.request.get('_route') == 'refi_report' %} active {% endif %} ">REPORTS<span>Create report</span></a></li>
      </ul>
    </nav>

    <div class="hd__auxwrap">
      <div class="status__wrap">
        <p>{% if data.name is defined %}{{ data.name }}{% endif %}</p>
        <p><span class="credits">{% if data.credits is defined %}{{ data.credits }}{% endif %}</span> credits</p>
		    <input type="hidden" id="sectors_owned" value="{% if data.sectors_owned is defined %}{{ data.sectors_owned }}{% endif %}" />
      </div>

      <div class="account__status">
        <a class="" href="#"></a>
      </div>
    </div>
  </div>
</div>